.page-container {
  padding: 20px;
}


.filter-btn{
  white-space: nowrap;
  min-height: 30px;
  margin: 4px;
  color: #657786;
  background: #F6F8FA;
  border: #E1E8ED;
  border-radius: 10px;
  font-size: 0.82em;
  padding: 10px;
}

.pin-img{
  margin: 0 0 0 20px;
}