.typing-page-container{
    padding: 20px;
}

.suggestion-container{
    padding: 20px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #E1E8ED;
    border-width: 2px;
    /*border-spacing: revert;*/

}