.search-bar-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px 0 5px;
  width: 100vw;
  max-width: 600px;
  position: fixed;
  right: 0;
  top: 0;
  .search-input{
    width: 80% ;
    height: 40px;
    direction: rtl;
  }
}