.ripple {
  border-radius: 50%;
  animation: ripple .5s forwards;
  width: 1%;
  aspect-ratio: 1;
  transform-origin: center;
}

@keyframes ripple {
  from {
    //width: 1%;
    transform:scale(0);
  }
  to {
    transform: scale(200);
    //width: 5%;
    opacity: 0;
  }
}