.ripple {
  border-radius: 50%;
  animation: ripple .5s forwards;
  width: 1px;
  height: 1px;
  transform-origin: center;
}

@keyframes ripple {
  from {
    transform:scale(0);
  }
  to {
    transform:scale(150);
    opacity: 0;
  }
}