.filter-page-container{
    padding: 20px 20px 0 20px;

    .blue-text{
        color: #1DA1F2;
    }

    .slider-container{
        width: 90%;

        .slider-color{
            color: #1DA1F2;
        }
    }
    .gray-text{
        color: #5B5F64;
    }
}

.search-bar-container{
    padding: 20px 20px 0 20px;
}

.page-footer {
    padding: 10px 20px 10px 20px;
    background: #F6F8FA;

    .page-footer-text {
        font-size: 0.69em;
        color: #657786;
    }
}