@font-face {
  font-family: "IranSans";
  src: url("/assets/fonts/IranSansFarsiNums/IRANSans(FaNum).ttf");
}
.IranSans{
  font-family: IranSans;
}
@font-face {
  font-family: "IranSansMedium";
  src: url("/assets/fonts/IranSansFarsiNums/IRANSans(FaNum)_Medium.ttf");
}
.IranSansMedium{
  font-family: IranSansMedium;
}