@tailwind base;
@tailwind components;
@tailwind utilities;
@import "navbar";
@import "fonts";
@import "icon";
@import "ripple";



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
  background-color: #F6F8FA;
}
html,
body {
  margin: 0;
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


