@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "IranSans";
  src: url("/assets/fonts/IranSansFarsiNums/IRANSans(FaNum).ttf");
}
.IranSans {
  font-family: IranSans;
}

@font-face {
  font-family: "IranSansMedium";
  src: url("/assets/fonts/IranSansFarsiNums/IRANSans(FaNum)_Medium.ttf");
}
.IranSansMedium {
  font-family: IranSansMedium;
}

@font-face {
  font-family: "IranSansBlack";
  src: url("/assets/fonts/IranSansFarsiNums/IRANSans(FaNum)_Black.ttf");
}
.IranSansBlack {
  font-family: IranSansBlack;
}

@font-face {
  font-family: "IranSansBold";
  src: url("/assets/fonts/IranSansFarsiNums/IRANSans(FaNum)_Bold.ttf");
}
.IranSansBold {
  font-family: IranSansBold;
}

.navbar-button {
  @apply w-20 flex flex-col items-center justify-center;
}

.navbar {
  @apply bg-white w-full fixed bottom-0  h-nav;
  box-shadow: #d1d1d145 0 -8px 10px 0px;
}

.nav-active {
  @apply text-primary;
}

.nav-indicator {
  @apply bg-primary;
  content: " ";
  position: absolute;
  width: 40px;
  height: 4px;
}

.icon-background {
  @apply bg-primary;
}

.ripple {
  border-radius: 50%;
  animation: ripple 0.5s forwards;
  width: 1%;
  aspect-ratio: 1;
  transform-origin: center;
}

@keyframes ripple {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}
input[type=range] {
  box-sizing: border-box;
  appearance: none;
  width: 100%;
  margin: 0;
  padding: 0 2px;
  /* Add some L/R padding to ensure box shadow of handle is shown */
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient(#1da1f2, #1da1f2) no-repeat center;
  /* Use a linear gradient to generate only the 2px height background */
  background-size: 100% 2px;
  pointer-events: none;
}

input[type=range]:active, input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 28px;
  background-color: #1da1f2;
  position: relative;
  margin: 5px 0;
  /* Add some margin to ensure box shadow is shown */
  cursor: pointer;
  appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

input[type=range]::-webkit-slider-thumb::before {
  content: " ";
  display: block;
  position: absolute;
  top: 13px;
  left: 100%;
  width: 2000px;
  height: 2px;
}

.multi-range {
  position: relative;
  min-height: 30px;
}

.multi-range input[type=range] {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.multi-range input[type=range]:nth-child(1)::-webkit-slider-thumb::before {
  background-color: red;
}

.multi-range input[type=range]:nth-child(2) {
  background: none;
}

.multi-range input[type=range]:nth-child(2)::-webkit-slider-thumb::before {
  background-color: grey;
}

.VCodeCursor {
  animation: cursorAnimation 1s infinite ease;
}

@keyframes cursorAnimation {
  0% {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
  50% {
    opacity: 1;
    transform: scaleX(0.7) scaleY(1);
  }
  100% {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
  }
}
#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ddd;
}

.circle-progress {
  stroke: red;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
  fill: red;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {}
body {
  background-color: #eee;
}

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

@keyframes react-loading-skeleton {
  100% {
    transform: translateX(100%);
  }
}
.react-loading-skeleton {
  --base-color: #ebebeb;
  --highlight-color: #f5f5f5;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block;
  /* Enable animation */
  background-color: var(--base-color);
  width: 100%;
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* Necessary for overflow: hidden to work correctly in Safari */
}

.react-loading-skeleton::after {
  content: " ";
  display: var(--pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, var(--base-color), var(--highlight-color), var(--base-color));
  transform: translateX(-100%);
  animation-name: react-loading-skeleton;
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.appeal-details {
  width: 205px;
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* <integer> values */
  -webkit-line-clamp: 2;
}

.skeleton {
  width: 100%;
  height: 100%;
  cursor: progress;
  background: linear-gradient(0.25turn, transparent, #fff, transparent);
  background-repeat: no-repeat;
  background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}
.profile-drawer-svg {
  @apply h-7 w-7 pb-10;
}

.drawer-buttons {
  @apply flex flex-col justify-center items-center IranSans w-full px-4;
}

html,
body {
  direction: rtl;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overscroll-behavior-y: auto;
}

button {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #F6F8FA;
}

html,
body,
#__next {
  margin: 0;
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.hide-scrollbars *::-webkit-scrollbar {
  display: none;
}
.hide-scrollbars * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Toastify__toast-body {
  font-family: IranSans;
}

* {
  user-select: none;
  scroll-behavior: smooth;
}

.english {
  font-family: Serif, serif;
}

.Toastify__toast-body {
  display: flex !important;
  flex-flow: row-reverse;
  text-align: center;
  justify-content: center;
  align-items: center !important;
}

.no-font {
  font-family: unset;
}

html, body {
  margin: 0;
  height: 100%;
}

/*# sourceMappingURL=globals.css.map */
