@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";
@import "components/navbar";
@import "components/icon";
@import "components/ripple";
@import 'components/doubleSlider';
@import 'components/VCodeInput';
@import "components/circularProgressBar";
@import "components/loadingDialog";
@import "components/skeleton";
@import "components/Toast";
@import "components/appeals";
@import "skeleton";
@import "pages/profile";


html,
body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html,
body {
  direction: rtl;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overscroll-behavior-y: contain;


}

button {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #F6F8FA;
}

html,
body,
#__next {
  margin: 0;
  height: 100%;
}

//hide spinners
* {
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}

html, body {
  margin: 0;
  height: 100%;
  //overflow: hidden
}

* {
  -webkit-tap-highlight-color: transparent;
}

//hide scrollbars class
.hide-scrollbars {
  *::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  *::-webkit-scrollbar {
    display: none;
  }

  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.Toastify__toast-body {
  font-family: IranSans;
}

* {
  user-select: none;
  scroll-behavior: smooth;
}

.english {
  font-family: Serif, serif;
}


.no-font {
  font-family: unset;
}

// toastify
.Toastify__toast-body {
  display: flex !important;
  flex-flow: row-reverse;
  text-align: center;
  justify-content: center;
  align-items: center !important;
}

.new-divider {
  height: 1px;
  width: 80%;
  margin: 0 auto;
  @apply bg-gray-300
}

.center-placeholder {
  &::-webkit-input-placeholder {
    text-align: center;
  }

  &:-moz-placeholder { /* Firefox 18- */
    text-align: center;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
  }

  &:-ms-input-placeholder {
    text-align: center;
  }
}

.desktop {

  // radial gradient background
  background: radial-gradient(
                  circle at top left,
                  #8D96D9,
                  transparent 1000px
  ),
  radial-gradient(
                  circle at top right,
                  #B3E8FF,
                  transparent 400px
  ),
  radial-gradient(
                  at left,
                  #7670C4,
                  transparent 1000px
  ),
  radial-gradient(
                  at left bottom,
                  #7670C4,
                  transparent 1200px
  ),
  radial-gradient(
                  at top center,
                  #82BBF8,
                  transparent 1200px
  ),
  radial-gradient(
                  at center,
                  #d7cbd6,
                  transparent 700px
  ),
  radial-gradient(
                  at bottom right,
                  rgba(232, 146, 146, 0.5),
                  transparent 1800px
  );
}

.desktop-container {
  mask-image: url("/notch.svg"), linear-gradient(#000, #000);
  mask-repeat: no-repeat;
  mask-position: top center;
  mask-composite: exclude;
}

.image-slider {
  &:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to right, #f4f8fa, transparent);
  }

  &:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to left, #f4f8fa, transparent);
  }
}

.m-appeals-scroller {
  div {
    width: 100%;
  }
}

.free-checkbox {
  background: url("/assets/svgs/checkbox.svg");
  background-repeat: no-repeat;
}


textarea {
  outline: none !important;

  &:focus {
    user-select: all !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-clip: padding-box !important;
  }

  user-select: all !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-clip: padding-box !important;
}

input {

  outline: none !important;

  &:focus {
    user-select: all !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-clip: padding-box !important;
  }

  user-select: all !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-clip: padding-box !important;
}

.should-be-filled {
  @apply text-errorRed mx-1.5;
}


.scan-container {
  div {
    width: 100%;
    height: 100%;
  }

  video {
    width: 100%;
    height: 100%;
  }
}

.chat-bubble-animation {
  animation: chat-bubble 1s;
}

@keyframes chat-bubble {
  from {
    max-height: 0;
  }
  to {
    max-height: 200px;
  }
}

